<div class="container">
    <h4>CRUD Libros</h4>
    <button type="button" class="btn btn-success icon-size-zoom mb-2" routerLink="/CreateBook">Agregar Prod</button>
    <table *ngIf="books. length > 0" class="table table-hover">
        <thead class="table-dark">
          <tr>
            <th scope="col">ID</th>
            <th scope="col">Titulo</th>
            <th scope="col">Autor</th>
            <th scope="col">Género</th>
            <th scope="col">Publicación</th>
            <th scope="col">Imágen</th>
            <th scope="col">Acciones</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let item of books" class="table-light">
            <th scope="row"> {{ item.id_libro}} </th>
            <td>{{ item.titulo_libro}}</td>
            <td>{{ '*' + item.id_autor }}</td>
            <td>{{ item.id_genero}}</td>
            <td>{{ item.fecha_publicacion_libro}}</td>
            <td>{{ item.imagen_libro}}</td>
            <td>
              <button type="button" class="btn btn-sm btn-primary icon-size-zoom">EDIT</button>
              <button type="button" class="btn btn-sm btn-outline-danger icon-size-zoom ms-2">DELETE</button>
            </td>
          </tr>
        </tbody>
    </table> 
    <div class="d-flex justify-content-center align-items-center">
      <h5 *ngIf="books.length == 0">No hay libros para mostrar</h5>
    </div>
</div>