/* You can add global styles to this file, and also import other style files */
/* Botón general, acción de zoom*/
.icon-size-zoom {
    font-size: 18px;
    transition: all 0.3s ease;
}


.icon-size-zoom:hover{
    transform: scale(1.1);
}